html, body
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0;
    overflow: hidden;
}

#background, #foreground, #foreground2, #foreground3
{
    position: absolute;
    left: 0;
    top: 0;
}

#background
{
    background-color: white;
}

#ball1, #ball2
{
    position: absolute;
    fill:rgb(255, 217, 0);
    r: 10px;
}

#ball12, #ball22
{
    position: absolute;
    fill:red;
    r: 10px;
}

#ball13, #ball23
{
    position: absolute;
    fill:blue;
    r: 10px;
}

#ball0, #ball02, #ball03
{
    position: absolute;
    fill: black;
    r: 15px;
}

#arm1, #arm2, #arm12, #arm22, #arm13, #arm23
{
    position: absolute;
    stroke-width: 5px;
    stroke: slategray;
}

#start
{
    position: absolute;
}